@using BlazorApp.Services
@inherits LayoutComponentBase
@inject AuthService Auth


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if(!string.IsNullOrEmpty(nome) && !string.IsNullOrEmpty(email))
            {
                <div> 
                    Usuário autenticado: <strong>@nome | @email</strong>
                </div>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{

    private string? nome;
    private string? email;

    protected override async Task OnInitializedAsync(){
        var usuario = await Auth.GetData();

        if (usuario != null)
        {
            nome = usuario.Nome;
            email = usuario.Email;
        }

    }
}
